---
layout: default
---

{% include slider-accepted-papers.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <section id="main-content">
          <div class="section-content">
            <header><h2>Accepted papers</h2></header>

            <!-- <a id="research"><h2>Research papers</h2></a> -->

<h4>*Some papers are conditionally accepted and may not appear.</h4>

<br>Title: Radiatus: Strong User Isolation for Scalable Web Applications
<br>Authors: Raymond Cheng, William Scott (University of Washington); Paul Ellenbogen (Princeton University); Jon Howell (Google); Franziska Roesner, Arvind Krishnamurthy, Thomas Anderson (University of Washington)

<br>
<br>Title: PipeGen: Data Pipe Generator for Hybrid Analytics
<br>Authors: Brandon Haynes, Alvin Cheung, Magdalena Balazinska (University of Washington)

<br>
<br>Title: The Freeze-Frame File System
<br>Authors: Weijia Song, Theodoros Gkountouvas, Ken Birman (Cornell University); Qi Chen, Zhen Xiao (Peking University)

<br>
<br>Title: STYX: Stream Processing with Trustworthy Cloud-based Execution
<br>Authors: Julian James Stephen, Savvas Savvides (Purdue University); Vinaitheerthan Sundaram (SensorHound Inc); Masoud Saeida Ardekani, Patrick Eugster (Purdue University)

<br>
<br>Title: TR-Spark: Transient Computing for Big Data Analytics
<br>Authors: Ying Yan, Yanjie Gao, Yang Chen, Zhongxin Guo, Bole Chen, Thomas Moscibroda (Microsoft Research)

<br>
<br>Title: Disciplined Inconsistency with Consistency Types
<br>Authors: Brandon Holt, James Bornholt, Irene Zhang, Dan R. K. Ports, Mark Oskin, Luis Ceze (University of Washington)

<br>
<br>Title: Characterizing Private Clouds: A Large-Scale Empirical Analysis of Enterprise Clusters
<br>Authors: Ignacio Cano (University of Washington); Srinivas Aiyar (Nutanix Inc.); Arvind Krishnamurthy (University of Washington)

<br>
<br>Title: STeP: Scalable Tenant Placement for Managing Database-as-a-Service Deployments
<br>Authors: Rebecca Taft (MIT CSAIL); Willis Lang (Microsoft Gray Systems Lab); Jennie Duggan (Northwestern University); Aaron J. Elmore (University of Chicago); Michael Stonebraker (MIT CSAIL); David DeWitt (Microsoft Gray Systems Lab)
<br>

<br>Title: Expeditus: Congestion-aware Load Balancing in Clos Data Center Networks
<br>Authors: Peng Wang, Hong Xu, Zhixiong Niu (City University of Hong Kong); Dongsu Han (Korea Advanced Institute of Science and Technology); Yongqiang Xiong (Microsoft Research Asia)
<br>
<br>Title: A Case for Virtualizing Persistent Memory
<br>Authors: Liang Liang, Rong Chen, Haibo Chen, Yubin Xia, Haibing Guan, Binyu Zang (Shanghai Key Laboratory of Scalable Computing and Systems &Institute of Parallel and Distributed Systems, Shanghai Jiao Tong University)
<br>
<br>Title: RAMinate: Hypervisor-based Virtualization for Hybrid Main Memory Systems
<br>Authors: Takahiro Hirofuchi, Ryousei Takano (AIST)
<br>
<br>Title: Centralizing Virtual Networking at Top-of-Rack Switches
<br>Authors: Jonas Fietz, Sam Whitlock, George Ioannidis, Katerina Argyraki, Edouard Bugnion (EPFL)
<br>
<br>Title: Addressing the straggler problem for iterative convergent parallel ML
<br>Authors: Aaron Harlap, Gregory R. Ganger, Phillip B. Gibbons (CMU)
<br>
<br>Title: Availability Knob: Flexible User-Defined Availability in the Cloud
<br>Authors: Mohammad Shahrad, David Wentzlaff (Princeton University)
<br>
<br>Title: Adaptive Caching in Big SQL using the HDFS Cache
<br>Authors: Avrilia Floratou (Microsoft); Nimrod Megiddo (IBM); Navneet S. Potti (UW-Madison); Fatma Ozcan, Uday Kale, Jan-Schmitz Hermes (IBM)
<br>
<br>Title: Towards weakly consistent local storage systems
<br>Authors: Ji-Yong Shin (Cornell University); Mahesh Balakrishnan (Yale University); Tudor Marian (Google); Jakub Szefer (Yale University); Hakim Weatherspoon (Cornell University)
<br>
<br>Title: Grandet: A Unified, Economical Object Store for Web Applications
<br>Authors: Yang Tang, Gang Hu, Xinhao Yuan, Lingmei Weng, Junfeng Yang (Columbia University)
<br>
<br>Title: Programming and Runtime Support to Blaze FPGA Accelerator Deployment at Datacenter Scale
<br>Authors: Muhuan Huang, Di Wu, Cody Hao Yu, Zhenman Fang, Matteo Interlandi, Tyson Condie, Jason Cong (UCLA)
<br>
<br>Title: Trading Timeliness and Accuracy in Geo-Distributed Streaming Analytics
<br>Authors: Benjamin Heintz, Abhishek Chandra (University of Minnesota); Ramesh K. Sitaraman (UMass Amherst & Akamai Tech.)
<br>
<br>Title: Principled workflow-centric tracing of distributed systems
<br>Authors: Raja R. Sambasivan (Carnegie Mellon University); Ilari Shafer (Microsoft); Jonathan Mace (Brown University); Benjamin H. Sigelman (LightStep); Rodrigo Fonseca (Brown University); Gregory R. Ganger (Carnegie Mellon University)
<br>
<br>Title: ReStream: Accelerating Backtesting and Stream Replay with Serial-Equivalent Parallel Processing
<br>Authors: Johann Schleier-Smith, Erik T. Krogen, Joseph M. Hellerstein (UC Berkeley)
<br>
<br>Title: Automating Failure Testing Research at Scale
<br>Authors: Peter Alvaro (UC Santa Cruz); Kolton Andrus (Gremlin Inc.); Ali Basiri, Lorin Hochstein, Casey Rosenthal (Netflix Inc.); Christopher Sanden (unaffiliated)
<br>
<br>Title: Tutamen: A Next-Generation Secret-Storage Platform
<br>Authors: Andy Sayler, Taylor Andrews, Matt Monaco, Dirk Grunwald (University of Colorado, Boulder)
<br>
<br>Title: A Relational Platform for Efficient Large-Scale Video Analytics
<br>Authors: Yao Lu (Microsoft/ University of Washington); Aakanksha Chowdhery (Microsoft/ Princeton University); Srikanth Kandula (Microsoft)
<br>
<br>Title: Privacy preserving collaboration in Bring Your Own Apps
<br>Authors: Sangmin Lee (Microsoft); Deepak Goel (Fireeye); Edmund Wong (Cisco); Asim Kadav (NEC Labs); Mike Dahlin (Google)
<br>
<br>Title: Optimizing Interactive Development of Data-Intensive Applications
<br>Authors: Matteo Interlandi (UCLA); Sai Deep Tetali (Google, Inc.); Muhammad Ali Gulzar, Joseph Noor, Tyson Condie, Miryung Kim, Todd Millstein (UCLA)
<br>
<br>Title: Why Does the Cloud Stop Computing? Lessons from Hundreds of Service Outages
<br>Authors: Haryadi S. Gunawi, Mingzhe Hao, Riza O. Suminto (University of Chicago); Agung Laksono, Anang D. Satria, Jeffry Adityatama, Kurnia J. Eliazar (Surya University)
<br>
<br>Title: Freestyle Dancing: Randomized Algorithms for Dynamic Storage Load-Balancing
<br>Authors: Liang Liu, Lance Fortnow, Yating Wang, Jun Xu (Georgia Institute of Technology); Jin Li (Microsoft Research Technologies)
<br>
<br>Title: Ako: Decentralised Deep Learning with Partial Gradient Exchange
<br>Authors: Pijika Watcharapichat, Victoria Lopez Morales (Imperial College London); Raul Castro Fernandez (MIT); Peter Pietzuch (Imperial College London)
<br>
<br>Title: SNC-Meister: Admitting More Tenants with Tail Latency SLOs
<br>Authors: Timothy Zhu (Carnegie Mellon University); Daniel S. Berger (University of Kaiserslautern); Mor Harchol-Balter (Carnegie Mellon University)
<br>
<br>Title: PerfOrator: eloquent performance models for Resource Optimization
<br>Authors: Kaushik Rajan, Dharmesh Kakadia, Carlo Curino, Subru Krishnan (Microsoft)
<br>
<br>Title: BASS: Improving I/O Performance for Cloud Block Storage via Byte-Addressable Storage Stack
<br>Authors: Hui Lu, Dongyan Xu, Brendan Saltaformaggio (Purdue University); Umesh Bellur (IIT Bombay); Cong Xu (IBM Research)
<br>
<br>Title: A Fault-Tolerant Framework for Asynchronous Iterative Computations in Cloud Environments
<br>Authors: Zhigang Wang (Northeastern University); Lixin Gao (University of Massachusetts Amherst); Yu Gu, Yubin Bao, Ge Yu (Northeastern University)
<br>
<br>Title: Eagle job-aware scheduling: divide and ... reorder
<br>Authors: Pamela Delgado, Diego Didona, Florin Dinu, Willy Zwaenepoel (EPFL)
<br>
<br>Title: The Case for RackOut: Scalable Data Serving Using Rack-Scale Systems
<br>Authors: Stanko Novakovic, Alexandros Daglis, Edouard Bugnion, Babak Falsafi (EPFL); Boris Grot (University of Edinburgh)
<br>
<br>Title: HIL: Designing an Exokernel for the Data Center
<br>Authors: Jason Hennessey, Sahil Tikale, Ata Turk, Emine Ugur Kaynar (Boston University); Chris Hill (Massachusetts Institute of Technology); Peter Desnoyers (Northeastern University); Orran Krieger (Boston University)
<br>
<br>Title: Follow the Sun: Application Migration Across Heterogeneous IaaS Providers for Geographically Shifting Workloads
<br>Authors: Zhiming Shen, Qin Jia, Eyal Sela, Ben Rainero, Weijia Song, Robbert Van Renesse, Hakim Weatherspoon (Cornell University)
<br>
<br>Title: CQSTR: Containing your Data in the Cloud
<br>Authors: Yan Zhai (UW Madison); Lichao Yin (Google); Jeffrey Chase (Duke University); Thomas Ristenpart (Cornell Tech); Michael Swift (UW Madison)

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
