---
layout: default
---

{% include slider-accommodation.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Accommodation</h1>
          </header>
          <div class="section-content">
	    <h3>Hilton Santa Clara</h3>
            <p>4949 Great America Parkway<br>
               Santa Clara, California, 95054
            </p>

            <h3>Special group rate </h3>
            <p>We have a special rate available for conference attendees, during the conference as well as up to two days before and after the
              conference on a limited basis.</p>
             <p><b>Group Name: SOCC 2016</b> <br>
             <b>Group Code: SOCC16 </b><br></p>
             
            <p> You can reserve the rooms at a discounted rate 
             <a href="http://www.hilton.com/en/hi/groups/personalized/S/SJCSCHF-SOCC16-20161003/index.jhtml?WT.mc_id=POG"
                  target="_blank" rel="nofollow" style="font-weight:bold"><u>here</u></a>, or 
	    call 408-330-0001 (ext. 1 for reservations) and use the code:SOCC16.</p>

	    
	    <p style="color:red;">The above group rate is available until September 5, 2016 or until the group block is sold-out, whichever comes first.</p>
            
            <!-- <a id="amenities-concessions"><h2>Amenities and concessions</h2></a>
            <p>
             <b>Note: you must book your room through the SoCC registration site to receive these benefits.</b>
            </p>

            <h3>Internet</h3>
            <p>
              <b>Free</b> in-room HSIA (High Speed Internet Access).
            </p>

            <h3>Parking</h3>
            <p>
              <b>$5 per night</b> for self-parking offered to SoCC attendees staying at the Hilton. The normal rate is $25. 
            </p>

            <h3>Optional resort fee</h3>
            <p>
              The resort fee is <b>waived</b> for SoCC attendees. Normally, it is a mandatory $25
              per day. However, attendees may purchase a Daily Resort Package at the reduced rate of
              $15 per room, per day to get the following benefits. PlayStation 3 access with
              unlimited movies and games; no access fee for local, toll-free and credit card calls;
              access to Hawaiian Cultural Activities; 20% discount on Lagoon Beach toys; 10%
              discount on Ocean Sports cruises.
            </p> -->

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
