---
layout: default
---

{% include slider-cf-camera-ready-instructions.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Dates</h2>
          </header>
          <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">aug</div>
                <div class="day">26</div>
              </figure>
              <aside>
                <header>
                 <strike>Submission deadline</strike>
                </header>
              </aside>
            </article><!-- /article -->
            <br>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->

        <section class="events small" id="events-small">
          <header>
            <h2>Links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
              <li><h4><a href="#submit">Submission site</a></h4></li>
			  <li><h4><a href="papers.html">Call for papers</a></h4></li>
              <li><h4><a href="posters.html">Call for posters</a></h4></li>
              <li><h4><a href="program-committee.html">Program committee</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Camera-ready preparation and copyright assignment</h1>
          </header>
          <div class="section-content">
            <p>
            These instructions are for the authors of accepted or conditionally accepted papers. 
            Conditionally accepted papers may be rejected, but authors should still follow the instructions optimistically until told to stop.
		  <br/><br/>
		  Time is short, so start now. Delays or mistakes could cause your paper to be excluded from the conference proceedings.
            </p>
			<a id="guidelines"><h2>Guidelines</h2></a>
			
			<p>
			<h4>To do now:</h4>
			</p>
			<ul>
			<li><p><b style="color:red;">Email</b> the final title and author list to <b>Marcos K. Aguilera (maguilera [at] vmware [punctuation] com)</b> by <b style="color:red;">11 August 2016</b>, 
			after which no changes are possible (this information will be used for the proceedings). 
			<br>In your email, use the subject "SoCC final information" and 
			in the body include a single line with the following format: <br>
			"Title","Lead Author:Affiliation;Author2:Affiliation;Author3:Affiliation;etc.","Lead Author e-mail","Author e-mail;Author e-mail"
			</p></li>

			<li><p>The ACM will invite the lead author to  <b style="color:red;">complete the ACM copyright form online</b>. Do this promptly: this step blocks the rest. 
			It provides the DOI, rights management text, and bibliographic strip that must be in the paper. The permission and DOI info are on page 
			2 of the copyright document. If you do not receive an email from the ACM by 17 August, inform Marcos K. Aguilera. It is an automatic email, 
			so check your spam folder and set the spam settings to allow emails from "rightsreview@acm.org".
			</p></li>

			<li><p>At least one of the authors must  <b style="color:red;">register for the conference</b> to present the paper, so take advantage of the early registration discount.
			</p></li>
			</ul>
			
			<h4>To do by <b style="color:red;">26 August 2016</b>:</h4>
			<p>
			Ship the final camera-ready file. It should be prepared this way:
			<ul>
			<li><p>Format the paper using the <a href="assets/socc.cls" target="_blank">socc.cls file</a>. An example 
			latex file is <a href="assets/socc-sample.tex" target="_blank">socc-sample.tex</a>. 
			Keep  <code>\usepackage{mathptmx}</code> to get correct math mode fonts. This style is a variant of the ACM style that provides a 
			consistent look and feel for our proceedings. Do not use your own style or the standard ACM styles.
			</p></li>
			
			<li><p>Add the correct rights management statement and bibliographic strip on the bottom of the first page, left column. 
			You will receive these details after completing your copyright form, after which you may need to replace the one in the template with the one from ACM.
			</p></li>
			
			<li><p> Use only Type 1 fonts (scalable), not Type 3 (bitmapped), and embed all fonts within the PDF. 
			ACM has documentation on <a href="http://www.acm.org/publications/WORD%20to%20PDF%20instructions.txt" target="_blank">how to embed fonts</a> correctly.
			It refers to the distiller settings file that can be found <a href="http://www.acm.org/publications/ACM.joboptions" target="_blank">here</a>.
			</p></li>
			
			<li><p>Format the paper using using a 10pt font on 12pt leading for letter-sized (8.5" by 11") paper. 
			The text blocks must follow ACM guidelines: double-column, with each column 3.33" by 9.25"; leave a 0.33" space between columns.
			</p></li>
			
			<li><p>Do not include page numbers.
			</p></li>

			<li><p>Name your file according to this rule: paperID-lastnameOfFirstAuthor.pdf
			</p></li>
			
			<li><p>Apply keywords and ACM Computing Classification categories and terms. For the classification of your paper follow the scheme <a href="http://www.acm.org/about/class/1998" target="_blank">here</a>.
			</p></li>
			
			<li><p>Follow the page limits in the submission: 12 pages including the title page but excluding references. These limits are strict and final.
			</p></li>
			
			<li><p>Remove the "submission type" line, which you may have included in the submission.
			</p></li>
			
			<li><p>Use the paper-submission site (below) to upload your final camera-ready copy. 
			</p></li>
			</ul>
			<p>
			If you have any other question regarding the proceedings, 
			contact both <b>Marcos K. Aguilera and Yanlei Diao (yanlei.diao [at] polytechnique [punctuation] edu)</b>. Do not wait.
			</p>
            <a id="submit"><h2>Submission site</h2></a>
            <p>
              When you are ready to submit, go to 
              <a href="http://www.socc2016.org/submissions/" target="_blank">http://www.socc2016.org/submissions/</a>.
            </p>

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
