---
layout: default
---

{% include slider-location.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <section id="main-content">
          <header>
            <h1>Location</h1>
          </header>
          <div class="section-content">
            <p>
              The 2016 ACM Symposium on Cloud Computing will be held at the 
              <a href="http://www.hiltonsantaclara.com/" target="_blank" rel="nofollow">Hilton Santa Clara</a>, 
              located in the heart of Silicon Valley. 
            </p>
            <div class="col-md-6">
              <div class="google-maps">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12677.808915357993!2d-121.9770478!3d37.4027846!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdcbbceebfc958cab!2sHilton+Santa+Clara!5e0!3m2!1sen!2sus!4v1470070183878" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
           <div class="col-md-6">
	    <div class="google-maps">
              </div>
            </div>

	   
	    <a id="getting-here"><h2>Getting to the Conference</h2></a>
	     <p>
		For those not staying at the Hilton, or local attendees, we <font style="color:red;">encourage taking public transit</font> to attend the conference. 
		In particular, there is a <font style="color:red;">49'ers game at nearby Levi's Stadium on October 6</font>, which will make parking at the conference very difficult all day. 
		This can also cause road closures (traffic advisory from the City of Santa Clara is available <a href="http://santaclaraca.gov/visitors/levi-s-stadium">here</a>). 
	      </p>
	    <p>
		There are <a href="http://www.vta.org/routes/rt902" target="_blank" rel="nofollow">VTA Light Rail</a> stops right across the street from the hotel:
		<div class="col-md-6">
              <div class="google-maps">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3169.451391347061!2d-121.9791438!3d37.4028044!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fc9ce7cb92659%3A0xdc8030291294563d!2sOld+Ironsides!5e0!3m2!1sen!2sus!4v1471538664325" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
	      <div class="col-md-6">
		<div class="google-maps">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3169.451391347061!2d-121.9791438!3d37.4028044!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fc9c93a383df3%3A0xe77cdc9018433b52!2sGreat+America!5e0!3m2!1sen!2sus!4v1471538734471" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	      </div>
            	</p>
		<p>
		<br>
		<br>
		 <font style="color:red;">Other options</font>, such as taxis, Uber and Lyft, also work well in the Bay Area.
		</p>
          </div><!-- /.section-content -->
          
        </section><!-- /.main-content -->
      </div><!-- /.col-md-9 -->

      <div class="col-md-3">
         {% include latest-news.html %}
      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
