---
layout: default
---

{% include slider-location.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <section id="main-content">
          <header>
            <h1>Location</h1>
          </header>
          <div class="section-content">
            <p>
              The 2016 ACM Symposium on Cloud Computing will be held at the 
              <a href="http://www.hiltonsantaclara.com/" target="_blank" rel="nofollow">Hilton Santa Clara</a>, 
              located in the heart of Silicon Valley. 
            </p>
            <div class="col-md-6">
              <div class="google-maps">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12677.808915357993!2d-121.9770478!3d37.4027846!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdcbbceebfc958cab!2sHilton+Santa+Clara!5e0!3m2!1sen!2sus!4v1470070183878" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>

           <!-- <div class="col-md-6">
              <div class="google-maps">
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/place/Hilton+Santa+Clara/@37.4027904,-121.9770955,3a,75y,90t/data=!3m8!1e2!3m6!1s-9a3B7ckF1S4%2FVjo2Wbn4xnI%2FAAAAAAAAA6o%2FeEzv6PaLUxc_tALmLOmQtbkN9Ajl1zsmA!2e4!3e12!6s%2F%2Flh3.googleusercontent.com%2F-9a3B7ckF1S4%2FVjo2Wbn4xnI%2FAAAAAAAAA6o%2FeEzv6PaLUxc_tALmLOmQtbkN9Ajl1zsmA%2Fs86-k-no%2F!7i1186!8i1183!4m5!3m4!1s0x0:0xdcbbceebfc958cab!8m2!3d37.4027846!4d-121.9770478!6m1!1e1"></iframe>
              </div>
            </div>
	    -->

          </div><!-- /.section-content -->
          
        </section><!-- /.main-content -->
      </div><!-- /.col-md-9 -->

      <div class="col-md-3">
         {% include latest-news.html %}
      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
