---
layout: default
---

{% include slider-co.html %}

<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-9">
                <div id="page-main">
                    <section id="members">
                        <header><h1>Conference Officers</h1></header>
                        <section id="general-chair">
                            <div class="row">
                              <div class="col-md-6">
                                <header><h2 class="no-divider">General chair</h2></header>
                                {% include author-block-no-padding.html link="http://www.brianfrankcooper.net/" name="Brian Cooper" org="Google" %}
                              </div>
                            </div>
                        </section><!-- /#general-chair -->
                        
                        <section id="program-chairs">
                            <header><h2 class="no-divider">Program chairs</h2></header>
                            <div class="row">
                              <div class="col-md-6">
                                {% include author-block.html link="http://mkaguilera.kawazoe.org/" name="Marcos K. Aguilera" org="VMWare" %}
                              </div>

                              <div class="col-md-6">
                                {% include author-block.html link="http://www.lix.polytechnique.fr/en/members/Yanlei.Diao" name="Yanlei Diao" org="École polytechnique" %}
                              </div>
                            </div> <!-- end row -->
                        </section><!-- /#program-chairs -->
                        
                        <section id="poster-chair">
                          <div class="row">
                            <div class="col-md-6">
                              <header><h2 class="no-divider">Treasurer</h2></header>
                              {% include author-block-no-padding.html link="https://www.linkedin.com/in/adamsilberstein" name="Adam Silberstein" org="Trifacta" %}
                            </div>
                          </div>
                        </section><!-- /#poster-chair -->

                        <section id="publicity">
                            <header><h2 class="no-divider">Publicity chairs</h2></header>
                            <div class="row">
                              <div class="col-md-6">
                                {% include author-block-no-padding.html link="https://www.linkedin.com/in/maysam-yabandeh-a8872648" name="Maysam Yabandeh" org="Dropbox" %}
                              </div>
                            </div>
                        </section><!-- /#publicity -->

			<section id="local">
                          <div class="row">
                            <div class="col-md-6">
                              <header><h2 class="no-divider">Local arrangements</h2></header>
                                {% include author-block-no-padding.html link="http://www.labs.hpe.com/people/indrajitr/" name="Indrajit Roy" org="HP Labs" %}
                            </div>
                          </div>
                        </section><!-- /local -->

                        <section id="webmaster">
                          <div class="row">
                            <div class="col-md-6">
                              <header><h2 class="no-divider">Webmaster</h2></header>
                                {% include author-block-no-padding.html link="http://web.engr.illinois.edu/~jalapar1/" name="Virajith Jalaparti" org="Microsoft" %}
                            </div>
                          </div>
                        </section><!-- /#webmaster -->
                        
                        <section id="steering-committee">
                            <header><h2 class="no-divider">Steering committee</h2></header>
                            <div class="row">
                              <div class="col-md-6">
                                 {% include author-block-no-padding.html link="http://research.microsoft.com/en-us/people/philbe/" name="Philip Bernstein" org="Microsoft Research" %}
                              </div>
                              <div class="col-md-6">
                                {% include author-block-no-padding.html link="http://www.ics.uci.edu/~mjcarey/" name="Michael Carey" org="University of California, Irvine" %}
                              </div>
                            </div><!-- /.row -->
                            <div class="row">
                              <div class="col-md-6">
                                {% include author-block-no-padding.html link="https://www.cs.princeton.edu/~mfreed/" name="Michael Freedman" org="Princeton University" %}
                              </div>
                              <div class="col-md-6">
                                {% include author-block-no-padding.html link="http://perspolis.usc.edu/Users/shahram/" name="Shahram Ghandeharizadeh" org="University of Southern California" %}
                              </div>
                            </div><!-- /.row -->
                        </section><!-- /#steering-committee -->
                    </section>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-6 -->

            <!--SIDEBAR Content-->

            <div class="col-md-3">
              {% include latest-news.html %}
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->
