---
layout: default
---

{% include slider-cf-posters.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Important Dates</h2>
          </header>
                    <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">may</div>
                <div class="day">17</div>
              </figure>
              <aside>
                <header>
                  Submission deadline for abstracts
                </header>
              </aside>
            </article><!-- /article -->
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">may</div>
                <div class="day">24</div>
              </figure>
              <aside>
                <header>
                  Submission deadline for full papers
                </header>
              </aside>
            </article><!-- /article -->
            <article class="event nearest">
              <figure class="date">
                <div class="month">july</div>
                <div class="day">29</div>
              </figure>
              <aside>
                <header>
                  Acceptance notification
                </header>
              </aside>
            </article><!-- /article -->
            <br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">aug</div>
                <div class="day">26</div>
              </figure>
              <aside>
                <header>
                  Camera-ready deadline
                </header>
              </aside>
            </article><!-- /article -->
            <br>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->

        <section class="events small" id="events-small">
          <header>
            <h2>Links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
              <li><h4><a href="#submission">Poster submission</a></h4></li>
              <li><h4><a href="papers.html">Call for papers</a></h4></li>
              <li><h4><a href="program-committee.html">Program committee</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Call for posters</h1>
          </header>
          <div class="section-content">
            <p>Coming soon!</p>


            <a id="submission"><h2>Submission</h2></a>
            <p>Coming soon!</p>

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
