---
layout: default
---

{% include slider-cf-poster-instructions.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Dates</h2>
          </header>
          <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">aug</div>
                <div class="day">26</div>
              </figure>
              <aside>
                <header>
                 Deadline for changes in poster title or authors.
                </header>
              </aside>
            </article><!-- /article -->
            <br>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->

        <section class="events small" id="events-small">
          <header>
            <h2>Links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
              <li><h4><a href="papers.html">Call for papers</a></h4></li>
              <li><h4><a href="posters.html">Call for posters</a></h4></li>
              <li><h4><a href="program-committee.html">Program committee</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Instructions for authors of accepted posters</h1>
          </header>
          <div class="section-content">
            <p>
	      The poster should have dimensions of <b style="color:red;">841x1189mm (A0 paper) or 36x48in</b>. Use the portrait orientation, not landscape. 
	      Posters should communicate the essence of the research problem, why it matters, the approach, results, and the novelty and significance of the work. 
	      We recommend that you follow the advice in "Creating an effective poster" by John Wilkes, available at this URL: <a href="http://goo.gl/HUVffd" target="_blank">http://goo.gl/HUVffd</a>.
	    </p>
	    <p>
	      You are responsible for printing the poster and bringing it to the conference. 
	      We will provide easel, poster board, and tape to hold your poster.
	    </p>

	    <p>
	      If you wish to  <b style="color:red;">change the title or authors</b> for your poster, please send an  <b style="color:red;">email</b> to 
	       <b>Marcos K. Aguilera (maguilera [at] vmware [punctuation] com)</b> 
	      by  <b style="color:red;">26 August 2016</b>. The email should indicate the new title and authors. 
	      This information will show up in the conference program.
	    </p>
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
