---
layout: default
---

{% include slider-cf-posters.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Important Dates</h2>
          </header>
	    <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">june</div>
                <div class="day">24</div>
              </figure>
              <aside>
                <header>
                  Poster Submission Deadline
                </header>
              </aside>
            </article><!-- /article -->
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">july</div>
                <div class="day">29</div>
              </figure>
              <aside>
                <header>
                  Poster Acceptance Notification
                </header>
              </aside>
            </article><!-- /article -->
            <br>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->

        <section class="events small" id="events-small">
          <header>
            <h2>Links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
              <li><h4><a href="#submission">Poster submission</a></h4></li>
              <li><h4><a href="papers.html">Call for papers</a></h4></li>
              <li><h4><a href="posters.html">Call for posters</a></h4></li>
              <li><h4><a href="program-committee.html">Program committee</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Call for posters</h1>
          </header>
          <div class="section-content">
            <p>
            The SoCC poster sessions provide an opportunity to present in-progress work in an interactive setting. 
            Topics of interest are the same as the research topics in the SoCC conference call for papers. 
            While anyone is welcome to submit, the organizing committee strongly encourages posters where the 
            primary contribution is from one or more students, or from an industry or start-up organization. 
            For these authors, as well as others, presenting a poster is an effective way to obtain early and 
            valuable feedback from a knowledgeable crowd at the conference.<br>

            <a href="assets/docs/CallforPosters.docx">Download Call for posters (.docx)</a>
            </p>
            
            <a id="submission"><h2>Submission guidelines</h2></a>
            <p>Please submit two PDF documents, of 1-page each, with the following information:</p>
            <ul class="topics-list"><ul type="topics-list">
            <li> The first document is a text summary of the poster, including the problem statement, the research approach, 
            initial results, references, etc. Please include author names and affiliations.</li>
            <li> The second document contains the poster itself, possibly a work-in-progress version, but it should reflect most of the content of the final poster.</li>
            </ul>
            <br>
	    <p>
	    By submitting a poster, you grant SoCC permission to post the poster on its web site, if accepted. 
	    Authors will be given an opportunity to make changes before the final poster is posted. 
	    Accepted posters will not be published in the ACM Digital Library.
	    </p>
	    <h3>Poster Format and Content</h3>
            <p>
	    Accepted posters will have dimensions of 841x1189mm (A0 paper) or 36x48in, 
	    where portrait orientation is recommended. Posters should communicate the essence 
	    of the research problem, why it matters, the approach, results, and the novelty and significance of the work. 
	    </p>

	    <a id="submit_site"><h2>Submission site</h2></a>
            <p>
              Submit your poster here: <a href="http://socc2016.org/postersubmissions/">http://socc2016.org/postersubmissions/</a>.
            </p>


          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
