---
layout: default
---

{% include slider-pc.html %}

<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-9">
                <div id="page-main">
                        <section id="members">
                        <header><h1>Program Committee</h1></header>
                        <section id="program-chairs">
                          <header><h2 class="no-divider">Program chairs</h2></header>
                          <div class="row">
                            <div class="col-md-6">
                              {% include author-block.html link="http://mkaguilera.kawazoe.org/" name="Marcos K. Aguilera" org="VMWare" %}
                            </div>

                            <div class="col-md-6">
                              {% include author-block.html link="http://www.lix.polytechnique.fr/en/members/Yanlei.Diao" name="Yanlei Diao" org="École polytechnique" %}
                            </div>
                          </div> <!-- end row -->
                        </section><!-- /#program-chairs -->

                    
                          
                        <section id="program-chairs">
                          <header><h2 class="no-divider">Program committee</h2></header>
                          <div class="row">
                            <div class="col-md-6">
                              {% include author-block-no-padding.html link="" name="Azza Abouzied" org="NYU Abu Dhabi" %}
                              {% include author-block-no-padding.html link="" name="Marcos K. Aguilera" org="VMware Research Group" %}
                              {% include author-block-no-padding.html link="" name="Arvind Arasu" org="Microsoft Research" %}
                              {% include author-block-no-padding.html link="http://www.maheshb.net" name="Mahesh Balakrishnan" org="Yale" %}
                              {% include author-block-no-padding.html link="" name="Hitesh Ballani" org="Microsoft Research" %}
                              {% include author-block-no-padding.html link="" name="Carsten Binnig" org="Brown University" %}
                              {% include author-block-no-padding.html link="" name="Francisco Brasileiro" org="Federal University of Campina Grande" %}
                              {% include author-block-no-padding.html link="" name="Mihai Budiu" org="Barefoot Networks" %}
                              {% include author-block-no-padding.html link="" name="Zhao Cao" org="Beijing Institute of Technology" %}
                              
                              {% include author-block-no-padding.html link="" name="James Cheng" org="Chinese University of Hong Kong" %}
                              {% include author-block-no-padding.html link="" name="Alvin Cheung" org="University of Washington" %}
                              {% include author-block-no-padding.html link="" name="Gregory Chockler" org="Royal Holloway, University of London" %}
                              {% include author-block-no-padding.html link="" name="Philippe Cudre-Mauroux" org="University of Fribourg" %}
                              {% include author-block-no-padding.html link="" name="Yanlei Diao" org="Ecole Polytechnique, Telecom ParisTech, UMass Amherst" %}
                              {% include author-block-no-padding.html link="" name="Peter M. Fischer" org="University of Freiburg" %}
                              {% include author-block-no-padding.html link="" name="Avrilia Floratou" org="IBM Research" %}
                              {% include author-block-no-padding.html link="" name="Indranil Gupta" org="UIUC" %}
                              {% include author-block-no-padding.html link="" name="Bingsheng He" org="National University of Singapore" %}
                              {% include author-block-no-padding.html link="" name="Thomas Heinis" org="Imperial College London" %}
                              {% include author-block-no-padding.html link="" name="Ramakrishna Kotla" org="Amazon" %}
                              {% include author-block-no-padding.html link="" name="Boduo Li" org="NEC Laboratories America" %}
                              {% include author-block-no-padding.html link="" name="Iqbal Mohomed" org="Samsung Research America" %}
                            </div>
                            <div class="col-md-6">
                              {% include author-block-no-padding.html link="" name="Rene Mueller" org="IBM Research" %}
                              {% include author-block-no-padding.html link="" name="Vivek Narasayya" org="Microsoft Research" %}
                              {% include author-block-no-padding.html link="" name="Beng Chin Ooi" org="National University of Singapore" %}
                              {% include author-block-no-padding.html link="" name="Stavros Papadopoulos" org="Intel Labs, MIT CSAIL Center" %}
                              {% include author-block-no-padding.html link="" name="Torben Bach Pedersen" org="Aalborg University" %}
                              {% include author-block-no-padding.html link="" name="Peter Pietzuch" org="Imperial College London" %}
                              {% include author-block-no-padding.html link="" name="Jorge-Arnulfo Quiané-Ruiz" org="Qatar Computing Research Institute)" %}
                              {% include author-block-no-padding.html link="" name="Rama Ramasubramanian" org="Google" %}
                              {% include author-block-no-padding.html link="" name="Rodrigo Rodrigues" org="IST (University of Lisbon), INESC-ID" %}
                              {% include author-block-no-padding.html link="" name="Margo Seltzer" org="Harvard, Oracle Labs" %}
                              {% include author-block-no-padding.html link="" name="Dilma Da Silva" org="Texas A\&M University" %}
                              {% include author-block-no-padding.html link="" name="Kaushik Veeraraghavan" org="Facebook" %}
                              {% include author-block-no-padding.html name="Ymir Vigfusson" org="Emory University, Reykjavik University" %}
                              {% include author-block-no-padding.html link="" name="Yang Wang" org="The Ohio State University" %}
                              {% include author-block-no-padding.html link="" name="Andrew Warfield" org="University of British Columbia" %}
                              {% include author-block-no-padding.html name="Hakim Weatherspoon" org="Cornell" %}
                              {% include author-block-no-padding.html link="" name="Bernard Wong" org="University of Waterloo" %}
                              {% include author-block-no-padding.html name="Lianghong Xu" org="Carnegie Mellon University" %}
                              {% include author-block-no-padding.html link="" name="Nickolai Zeldovich" org="MIT CSAIL" %}
                              {% include author-block-no-padding.html link="" name="Lidong Zhou" org="Microsoft Research" %}
                              {% include author-block-no-padding.html link="" name="Wenchao Zhou" org="Georgetown University" %}
                            </div>
                          </div> <!-- end row -->
                        </section><!-- /#program-chairs -->

                    </section>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-6 -->

            <!--SIDEBAR Content-->

            <div class="col-md-3">
              {% include latest-news.html %}
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->
