---
layout: default
---

{% include slider-schedule.html %}

<!-- Content -->
<div class="block">
<div class="container">
<div class="row">
  <div class="col-md-9">
    <section id="main-content">
      <div class="section-content">
        <h2>Schedule</h2>
        {% include session.html date="Tuesday, October 4th" key="day0" showlinks="false" %}
        {% include session.html date="Wednesday, October 5th" key="day1" showlinks="true" %}
        {% include session.html date="Thursday, October 6th" key="day2" showlinks="false" %}
        {% include session.html date="Friday, October 7th" key="day3" showlinks="false" %}
      </div><!-- /.section-content -->
    </section><!-- /.main-content -->
  </div><!-- /.col-md-9 -->

  <div class="col-md-3">
    {% include latest-news.html %}
  </div><!-- /.col-md-3 -->

</div><!-- /.row -->
</div><!-- /.container -->
</div>
<!-- end Content -->
